{% extends "base.html" %}
{% load static %}
{% block body%}

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="first.html">SAWEEID</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link smoothScroll">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a href="#class" class="nav-link smoothScroll">Classes</a>
                    </li>
                    <li class="nav-item">
                        <a href="#schedule" class="nav-link smoothScroll">Schedules</a>
                    </li>


                    <li class="nav-item">
                        <a href="mainAdmin.html" class="nav-link smoothScroll">ADMIN</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'authentications:logout' %}" class="nav-link smoothScroll">logout</a>



                    </li>


                    </li>
                </ul>

                <ul class="social-icon ml-lg-3">
                    <li><a href="https://www.facebook.com/ryan.alyas.14" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                </ul>
            </div>

        </div>
    </nav>

       <!-- CLASS -->
       <section class="class section2" id="class">
        <div class="container">
            <div class="row">



                <div class="col-lg-2 col-12 text-center mb-5">
                    <a href="Create an admin account.html" class="btn custom-btn3 bordered mt-3" data-aos="fade-up"
                        data-aos-delay="300">create admin account</a>
                    <a href="Create a supervisor account.html" class="btn custom-btn3 bordered mt-3" data-aos="fade-up"
                        data-aos-delay="300">add a new supervisor</a>
                </div>

                <div class="col-lg-12 col-12 text-center mb-5">

                    <h3 data-aos="fade-up"> SWAIED </h3>


                    <h1 data-aos="fade-up" data-aos-delay="200"> #ALL USERS</h1>
                </div>


                <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
                    <div class="class-thumb">

                        <div class="class-info2">
                            <h4 class="mb-3">Saleh hessan</h4>

                            <span><strong>User type :</strong> admin </span>



                            <p class="mt-3"> have the full access to the database of the system</p>
                            <a href="mailUserDetails.html" class="btn custom-btn3 bordered mt-3" data-aos="fade-up"
                                data-aos-delay="300">learn more</a>


                        </div>
                    </div>
                </div>

                <div class="mt-5 mt-lg-0 mt-md-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
                    <div class="class-thumb">

                        <div class="class-info2">
                            <h4 class="mb-1"> Ranya babiker</h4>

                            <span><strong>User type :</strong> admin </span>



                            <p class="mt-3"> have the full access to the database of the system </p>

                            <a href="userDetails.html" class="btn custom-btn3 bordered mt-3" data-aos="fade-up"
                                data-aos-delay="700">learn more</a>


                        </div>
                    </div>
                </div>

                <div class="mt-5 mt-lg-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
                    <div class="class-thumb">

                        <div class="class-info2">

                            <h4 class="mb-1"> mohammed Emad</h4>

                            <span><strong>User type :</strong> volunteer </span>



                            <p class="mt-3"> can create account from the website to veiw and support invitite </p>

                            <a href="mailUserDetails.html" class="btn custom-btn3 bordered mt-3" data-aos="fade-up"
                                data-aos-delay="700">learn more</a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="class section2" id="class">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="400">
                    <div class="class-thumb">

                        <div class="class-info2">
                            <h4 class="mb-1"> AISHA al ameen </h4>

                            <span><strong>User type :</strong> supervisor </span>



                            <p class="mt-3"> have extra role to manage the intivate , account create by the admin only
                            </p>
                            <a href="userDetails.html" class="btn custom-btn3 bordered mt-3" data-aos="fade-up"
                                data-aos-delay="700">learn more</a>

                        </div>
                    </div>
                </div>

                <div class="mt-5 mt-lg-0 mt-md-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
                    <div class="class-thumb">

                        <div class="class-info2">
                            <h4 class="mb-1"> Rabab khalifa </h4>

                            <span><strong>User type :</strong> admin </span>



                            <p class="mt-3"> have the full access to the database of the system </p>

                            <a href="userDetails.html" class="btn custom-btn3 bordered mt-3" data-aos="fade-up"
                                data-aos-delay="700">learn more</a>
                        </div>
                    </div>
                </div>

                <div class="mt-5 mt-lg-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
                    <div class="class-thumb">

                        <div class="class-info2">
                            <h4 class="mb-1"> osman ali </h4>

                            <span><strong>User type :</strong> volunteer </span>



                            <p class="mt-3"> can create account from the website to veiw and support invitite </p>


                            <a href="mailUserDetails.html" class="btn custom-btn3 bordered mt-3" data-aos="fade-up"
                                data-aos-delay="700">learn more</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
{% endblock%}